{% extends "base.html" %}
{% block title %}Coffee{% endblock %}
{% block body %}
<div class="container">
    <div id="content">
				<h1 class="coffee">My Senseo Remote</h1>
				<div class="SenseoPanel">
            <form id="coffee-form-1" action="{{ url_for('home.coffeeaction') }}" method="post">
						    <button type="button" class="btn btn-rnd btn-rnd-little btn-rnd-left"></button>
                {% if status %}
						    <button type="submit" value="on_off" name="power-button" class="btn btn-rnd btn-rnd-big btn-rnd-middle device-on"><span class="glyphicon glyphicon-off"></span></button>
                {% else %}
						    <button type="submit" value="on_off" name="power-button" class="btn btn-rnd btn-rnd-big btn-rnd-middle device-off"><span class="glyphicon glyphicon-off"></span></button>
                {% endif %}
                <button type="button" class="btn btn-rnd btn-rnd-little btn-rnd-right"></span></button>
            </form>
        </div>
				<br />
				<div class="row">
            <form id="coffee-form-2" action="{{ url_for('home.coffeeaction') }}" method="post">
                <div class='col-sm-4'></div>
                <div class='col-sm-4'>
                    <div class="form-group">
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div class='col-sm-4'>
                    <button type="button" class="btn btn-primary" type="submit">Go</button>
                </div>
            </form>
				</div>
    </div>
</div>
{% endblock %}
