@font-face {
    font-family: 'black-coffee';
    src: url('../fonts/Black-coffee.ttf');
}

body, html {
    width: 100%;
    height: 100%;
}

body, h1, h2, h3 {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
}

nav {
    max-height: 90px;
}

footer {
    padding: 50px 0;
    background-color: #f8f8f8;
}

p.copyright {
    margin: 15px 0 0;
}

.alert-info {
    width: 50%;
    margin: auto;
    color: #687430;
    background-color: #e6ecca;
    border-color: #aec251;
}

.btn-default {
    border-color: #aec251;
    color: #aec251;
}

.btn-default:hover {
    background-color: #aec251;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.content-section {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
}

.footer, .push {
  clear: both;
  height: 4em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-header {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: url(../img/intro-bg.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
}

.intro-message {
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.coffee {
		font-family: "black-coffee";
		font-size: 42px;
		text-align: center;
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

.lead {
    font-size: 18px;
    font-weight: 400;
}

.topnav {
    font-size: 14px;
}

.wrapper {
  margin-top: 60px;
}

.SenseoPanel {
    background-color: #27282b;
    width: 400px;
    height: 100px;
    margin: 100px auto 0px;
    border-radius: 50% 50% 0 0/ 100% 100% 0px 0px;
}

#coffee-form-1 {
  padding-top: 5%;
}

.btn-rnd {
		position:relative;
		top: 25%;
		background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
		background-image: linear-gradient(top, #f4f1ee, #fff);
		border-radius: 50%;
		box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
		-webkit-transition: all .1s linear;
		transition: all .1s linear;
}

.btn-rnd-left {
		left: 30%;
		transform: translateX(-25%);
}

.btn-rnd-middle {
		left: 43%;
		transform: translateX(-50%);
}

.btn-rnd-right {
		left: 50%;
		transform: translateX(-75%);
}

.btn-rnd-big {
		height: 50px;
		width: 50px;
}

.btn-rnd-little {
		height: 25px;
		width: 25px;
}


.btn-rnd:hover{
	background-image: -webkit-linear-gradient(top, #fff, #f4f1ee);
	background-image: linear-gradient(top, #fff, #f4f1ee);
	color:#0088cc;
}

.btn-rnd:active{
	background-image: -webkit-linear-gradient(top, #efedec, #f7f4f4);
	background-image: linear-gradient(top, #efedec, #f7f4f4);
	box-shadow: 0 3px 5px 0 rgba(0,0,0,.4), inset 0px -3px 1px 1px rgba(204,198,197,.5);
}

.btn-rnd:active:after{
	color:#dbd2d2;
	text-shadow: 0px -1px 1px #bdb5b4, 0px 1px 1px white;
}

.device-on {
  border-color: green;
  border-width: 3px;
}

.device-off {
  border-color: red;
  border-width: 3px;
}
